@font-face {
  font-family: 'Inter';
  src: url('../../shared/fonts/Inter-Regular.woff2') format('woff2'),
       url('../../shared/fonts/Inter-Regular.woff') format('woff'),
			 url('../../shared/fonts/Inter-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../shared/fonts/Inter-Light.woff2') format('woff2'),
       url('../../shared/fonts/Inter-Light.woff') format('woff'),
			 url('../../shared/fonts/Inter-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}