body {
	// Soft Coral
	--color-highlight-soft-coral: #e17076;
	--color-highlight-soft-coral-bg: #e170761a;
	--color-highlight-soft-coral-bg-active: #e170762b;

	// Sunset Orange
	--color-highlight-sunset-orange: #faa774;
	--color-highlight-sunset-orange-bg: #faa7741a;
	--color-highlight-sunset-orange-bg-active: #faa7742b;

	// Lavender Purple
	--color-highlight-lavender-purple: #a695e7;
	--color-highlight-lavender-purple-bg: #a695e71a;
	--color-highlight-lavender-purple-bg-active: #a695e72b;

	// Fresh Lime
	--color-highlight-fresh-lime: #7bc862;
	--color-highlight-fresh-lime-bg: #7bc8621a;
	--color-highlight-fresh-lime-bg-active: #7bc8622b;

	// Aqua Marine
	--color-highlight-aqua-marine: #6ec9cb;
	--color-highlight-aqua-marine-bg: #6ec9cb1a;
	--color-highlight-aqua-marine-bg-active: #6ec9cb2b;

	// Sky Blue
	--color-highlight-sky-blue: #65aadd;
	--color-highlight-sky-blue-bg: #65aadd1a;
	--color-highlight-sky-blue-bg-active: #65aadd2b;

	// Pink Orchid
	--color-highlight-pink-orchid: #ee7aae;
	--color-highlight-pink-orchid-bg: #ee7aae1a;
	--color-highlight-pink-orchid-bg-active: #ee7aae2b;
}