// * Common Theme
body {
  // Colors
  --color-util-error:  #EE5252;
  --color-util-error-glassed:  #be242436;
  --color-util-success:#52EE79;
  --color-util-warn:   #DEEE52;
}

// * Insomnia Theme
body[class="theme_insomnia"] {
  // Colors
  --color-accent-1000: #6E90EE;
  --color-accent-glassed-1000: #3659ba36;

  --color-primary-1000: #101113;
  --color-primary-900:  #141517;
  --color-primary-800:  #1A1B1E;
  --color-primary-700:  #25262B;
  --color-primary-600:  #2C2E33;
  --color-primary-500:  #373A40;
  --color-primary-400:  #5C5F66;
	--color-primary-300:  #909296;
	--color-primary-200:  #A6A7AB;
  --color-primary-100:  #C1C2C5;
	--color-secondary-1000: #F8F9FA;

  // Colors - Components
  --color-background: var(--color-primary-1000);
  --color-app-background: var(--color-primary-700);
  --color-inputs-background: var(--color-primary-700);
  --color-context-menu-background: #1a1b1ede;// var(--color-primary-800)

  // Images
  --image-authorization: url("@/app/assets/images/insomnia_authorization.gif");
}

// * Winter Theme
body[class="theme_winter"] {
  // Colors
  --color-accent-1000: #6E90EE;
  --color-accent-glassed-1000: #3659ba36;

  --color-primary-1000: #F8F9FA;
  --color-primary-900:  #F1F3F5;
  --color-primary-800:  #E9ECEF;
  --color-primary-600:  #DEE2E6;
  --color-primary-700:  #CED4DA;
  --color-primary-500:  #ADB5BD;
  --color-primary-400:  #868E96;
	--color-primary-300:  #495057;
	--color-primary-200:  #343A40;
  --color-primary-100:  #212529;
	--color-secondary-1000: #000000;

  // Colors - Components
  --color-background: var(--color-primary-800);
  --color-app-background: var(--color-primary-1000);
  --color-inputs-background: var(--color-primary-1000);
  --color-context-menu-background: #e9ecefc0;// var(--color-primary-800);

  // Images
  --image-authorization: url("@/app/assets/images/winter_authorization.gif");
}