body {
	// * Z-index
	--z-active-chat-elements: 100;
	--z-chats-sidebar-actions-element: 110;
	--z-floating-drop-zone: 120;
	--z-modal-element: 130;
	--z-user-select-element: 140;

	--z-slider-controls: 1;
	--z-slider-indicators: 2;

	// * Width
	--width-chat-content: 55%;

	// * Height
	--min-height-chat-header: 5rem;
}