.select {
	@apply relative;

	&__selected-options {
		@apply px-5 py-1.5 flex items-center gap-2 flex-wrap;
		cursor: pointer;
		min-height: 60px;
		border-radius: 0.45rem;
		border: 1px solid var(--color-primary-500);
		background-color: var(--color-inputs-background);
	}

	&__selected-option {
		@apply cursor-pointer select-none rounded-md;
		transition: 0.3s background-color;

		&:hover {
			background-color: var(--color-util-error);
		}
	}

	&__dropdown {
		@apply absolute py-3 px-5;
		border-radius: 0.45rem;
		top: calc(100% + 12px);
		background-color: var(--color-primary-700);
		z-index: var(--z-multiselect-dropdown);
	}

	&__input {
		@apply w-full pb-2 mb-3 px-0 outline-none bg-transparent;
		border-bottom: 1px solid var(--color-primary-400);

		&::placeholder {
			color: var(--color-primary-400);
		}
	}

	&__option {
		@apply flex items-center gap-2 p-2 cursor-pointer select-none rounded-md;
		color: var(--color-secondary-1000);
		width: max-content;
		transition: 0.3s background-color;

		&:hover {
			background-color: var(--color-primary-500);
		}
	}
}