.loader {
	@apply flex items-center justify-center;

  &__circle {
		@apply absolute rounded-full;
    position: absolute;
    width: 120px;
    height: 120px;
    border: 3px solid transparent;
    border-top-color: var(--color-accent-1000);
    border-bottom-color: var(--color-accent-1000);
    animation: spin  1s infinite;
	}

  &_fullscreen {
    @apply w-screen h-screen absolute top-0 left-0;
  }
}

@keyframes spin {
  to {
    transform: rotateZ(360deg)
	}
}