@import "@/app/styles/_mixins";

.page {
	@apply relative flex flex-col;
	border-right: 2px solid var(--color-app-background);
	border-bottom: 2px solid var(--color-app-background);
	border-top: 2px solid var(--color-app-background);
	flex: 1 1 auto;

	&__background {
		@include chat-background();
	}
}