.search {
	@apply w-full;

	input {
		@apply relative;
	}

	&__icon {
		@apply absolute p-1.5 transition-colors;
		outline: none;
		cursor: pointer;
		border-radius: 0.25rem;
		min-width: 1.875rem;
		width: 1.875rem;
		height: 1.875rem;
		top: 50%;
		right: 0.5rem;
		transform: translateY(-50%);
		color: var(--color-primary-400);
	}
}