.field {
	@apply w-full;

	&__legend {
		@apply font-medium text-sm;
		color: var(--color-primary-100);
	}

	&__description {
		@apply text-xs pb-1;
		color: var(--color-primary-300);
	}

	&__error {
		@apply pt-1 text-xs;
		color: var(--color-error);
	}

	&_with-asterisk {
		.field__legend::after {
			@apply pl-1;
			content: '*';
			color: var(--color-error);
		}
	}
}