@import '@/app/styles/_mixins.scss';

.card {
	@apply flex items-center gap-2 p-2 rounded-md cursor-pointer;

	&__info {
		@apply w-full;
	}
	&__top {
		@apply flex justify-between items-center w-full;

		&-title {
			@apply text-sm font-bold;
			@include line-clamp(1);
		}

		&-updated {
			@apply text-xs;
			color: var(--color-primary-200);
		}
	}

	&__bottom {
		@apply w-full mt-0.5;

		&-text {
			@apply text-sm;
			color: var(--color-primary-200);
			@include line-clamp(1);
		}
	}

	&_selected {
		background-color: var(--color-accent-1000);

		.card__top-title,
		.card__top-updated,
		.card__bottom-text {
			color: #FFF;
		}
	}

	&:hover:not(.card_selected) {
		background-color: var(--color-primary-600);
	}
}