.field {
	input {
		width: calc(100% - 1.875rem - (0.5rem * 2));
	}

	&__toggler {
		@apply absolute p-1.5 transition-colors;
		outline: none;
		cursor: pointer;
		border-radius: 0.25rem;
		min-width: 1.875rem;
		width: 1.875rem;
		height: 1.875rem;
		top: 50%;
		right: 0.5rem;
		transform: translateY(-50%);

		&:hover,
		&:focus {
			background-color: var(--color-primary-600) !important;
		}
	}
}