@import "@/app/styles/_mixins";

.embedded {
	@apply flex items-center rounded-t-md pt-2 px-3;
	border-radius: 0.45rem 0.45rem 0 0;
	border: 1px solid var(--color-primary-500);
	border-bottom: none;
	background-color: var(--color-inputs-background);
	z-index: -20;

	&__icon {
		@apply mr-3 p-0.5;
		@include set-icon-size(1.75rem);
	}
	&__message {
		flex-grow: 1;
	}
	&__close {
		@apply ml-3 p-0.5;
		@include set-icon-size(2rem);
	}
}

.form {
	@apply relative;
}

.attachments {
	@apply grid gap-2 rounded-t-md pt-2 px-3 overflow-y-scroll;
	grid-template-columns: repeat(4, 1fr);
	max-height: 20rem;
	border: 1px solid var(--color-primary-500);
	background-color: var(--color-inputs-background);

	@include custom-scrollbar();
}
