@import "@/app/styles/_mixins";

.message {
	--color-highlight: var(--color-accent-1000);
	--appendix-offset: 9px;

	display: flex;

	.avatar {
		@apply self-end mr-2;
	}

	.content {
		@apply relative;

		.author, .embedded, .text {
			background-color: var(--color-primary-800);
		}

		.attachments {}

		.author {
			@apply text-sm font-bold px-2.5;
			@include line-clamp(1);
			color: var(--color-highlight);
		}

		.embedded {
			@apply px-2.5;
		}

		.text {
			@apply select-text text-sm px-2.5;
			white-space: pre-wrap;
			font-family: inherit;
			color: var(--color-secondary-1000);
		}

		.appendix {
			@apply absolute bottom-0;
		}

		&__item:nth-child(1) {
			@apply rounded-t-2xl overflow-hidden;

			&:not(.attachments) {
				@apply pt-2.5;
			}
		}

		&__item:not(.attachments):nth-child(n + 1) {
			@apply pb-2.5;
		}

		// Последний из .content__item (на момент 28/02/2024. Последний - .text)
		&__item:nth-last-child(-n+2) {
			@apply rounded-b-2xl overflow-hidden;
		}

		// Следующий эллемент после .attachments
		.attachments + * {
			@apply pt-2.5;
		}
	}

	&:not(.message_own) {
		.content {
			border-bottom-left-radius: 0;

			.appendix {
				transform: rotateY(-180deg);
				left: calc(var(--appendix-offset) * -1);
				color: var(--color-primary-800);
			}
		}
	}

	&_own {
		padding-right: var(--appendix-offset);

		.content {
			.author, .embedded, .text {
				background-color: var(--color-accent-1000);
				color: var(--color-white);
			}

			.appendix {
				right: -9px;
				color: var(--color-accent-1000);
			}
		}
	}
}
