@import "@/app/styles/_mixins";

.item {
	@apply px-4 py-2 cursor-pointer transition-colors rounded-md flex items-center w-full;

	&__icon {
		@apply mr-4;
		color: var(--color-primary-300);

		@include set-icon-size(20px);
	}

	&__label {
		@apply font-bold text-sm;
		color: var(--color-secondary-1000);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: var(--color-primary-900);
	}

	& + & {
		@apply mt-1;
	}

	// * Mods
	&_dangerous {
		.item {
			&__icon,
			&__label {
				color: var(--color-util-error);
			}
		}
	}
}