@import "@/app/styles/_mixins";

.control {
	@apply absolute top-0 h-full flex items-center justify-center;
	z-index: var(--z-slider-controls);
	color: var(--color-white);
	width: 60px;

	opacity: 0.25;
	transition: opacity 0.5s ease;

	&-icon {
		@include set-icon-size(40px);
	}

	&:hover {
		opacity: 0.75;
	}

	&_left {
		@apply left-0 rotate-180;
	}
	&_right {
		@apply right-0;
	}
}