.field {
	@apply relative overflow-hidden w-full;
	border-radius: 0.45rem;
	border: 1px solid var(--color-primary-500);
	background-color: var(--color-inputs-background);

	input {
		@apply w-full transition-colors text-base font-normal px-5 py-3;

		outline: none;
		background: none;
		appearance: none;

		color: #9aa1b6;

		&::placeholder {
			color: var(--color-primary-400);
		}

		&:hover,
		&:focus {
			border-color: var(--color-accent-1000);
		}
	}

	&_invalid {
		border-color: var(--color-util-error);

		input {
			color: var(--color-util-error);

			&:hover,
			&:focus {	border-color: var(--color-util-error); }
		}
	}
}