.modal {
  @apply fixed top-0 left-0 w-screen h-screen flex items-center justify-center;
  background-color: rgba(0 0 0 / 0.1);
  z-index: var(--z-modal-element);

  &__dialog {
    @apply rounded-md;
    background-color: var(--color-primary-800)
  }

  &__header,
  &__content,
  &__footer {
    @apply p-7;
  }

  &__header {
    border-bottom-width: 2px;
    border-bottom-color: var(--color-primary-600);
  }

  &__footer {
    border-top-width: 2px;
    border-top-color: var(--color-primary-600);
  }
}