.header {
	@apply flex items-center justify-between px-5 py-4;
	border-bottom: 1px solid var(--color-primary-600);
	background-color: var(--color-app-background);
	min-height: var(--min-height-chat-header);
}