@import '@/app/styles/mixins';

.messages {
	@apply flex flex-col-reverse grow self-center w-full gap-2 relative;
	@include hide-scrollbar();
	overflow-y: scroll;

	&__message {
		@apply select-none rounded-2xl break-all;
		max-width: 70%;

		&_system {
			@apply my-4;
			text-align: center;
		}

		&_own {
			@apply self-end;
		}
	}
}