@import "@/app/styles/_mixins";

.select {
	@apply relative;

	.option {
		@apply cursor-pointer select-none rounded-lg py-1 px-2 transition-colors;

		&_highlighted {
			background-color: var(--color-accent-1000);
			color: var(--color-white);

			&:hover,
			&:focus,
			&:active {
				background-color: var(--color-accent-1000) !important;
			}
		}
	}

	&__selected {
		@apply py-2 px-4 flex items-center gap-2 flex-wrap;
		cursor: text;
		min-height: 55px;
		max-height: 120px;
		border-radius: 0.45rem;
		border: 1px solid var(--color-primary-500);
		background-color: var(--color-inputs-bg);

		.option {
			width: max-content;
			background-color: var(--color-primary-800);

			&:hover,
			&:focus,
			&:active {
				animation: shaking 0.2s infinite linear;
			}
		}
	}

	&__dropdown {
		@apply absolute py-2 px-4 overflow-y-scroll w-full;
		border-radius: 0.45rem;
		top: calc(100% + 5px);
		background-color: var(--color-inputs-bg);
		z-index: var(--z-user-select-element);
		@include custom-scrollbar();

		.option {
			&:hover,
			&:focus,
			&:active {
				background-color: var(--color-primary-800);
			}
		}
	}
}

@keyframes shaking {
	0% { transform: rotateZ(-1deg); }
	50% { transform: rotateZ(1deg); }
	100% { transform: rotateZ(-1deg); }
}