.button {
	@apply transition-colors flex items-center rounded-md px-2 py-1.5;
	@apply relative overflow-hidden select-none outline-none cursor-pointer;

	color: var(--color-accent-1000);

	&__icon {
		@apply flex items-center justify-center;
		color: inherit;
		min-width: 22px;
		width: 22px;
		height: 22px;
		color: var(--color-accent-1000);
	}

	&__icon + &__text {
		@apply ml-1.5;
	}

	&:hover,
	&:active {
		background-color: var(--color-accent-glassed-1000);
	}

	&_increased-px {
		@apply px-3.5;
	}
}

.ripple {
	@apply absolute rounded-full transition-opacity;
	background-color: var(--color-accent-glassed-1000);
	transform: scale(0);
	opacity: 1;
	animation: scaleAndDisappear 0.6s linear;
}

@keyframes scaleAndDisappear {
	to {
		transform: scale(2.5);
		opacity: 0;
	}
}