.button {
	@apply transition-colors flex items-center justify-center rounded-md px-2 py-1.5
	 	relative overflow-hidden select-none outline-none cursor-pointer;

	color: var(--color-accent-1000);
	border: 1px solid transparent;

	&:hover,
	&:active { background-color: var(--color-accent-glassed-1000); }

	&__icon {
		@apply flex items-center justify-center;
		color: inherit;
		min-width: 22px;
		width: 22px;
		height: 22px;
		color: var(--color-accent-1000);
	}

	&__icon + &__text {	@apply ml-1.5; }

	&__ripple {
		@apply absolute rounded-full transition-opacity;
		background-color: var(--color-accent-glassed-1000);
		transform: scale(0);
		opacity: 1;
		animation: scaleAndDisappear 0.6s linear;
	}

	// * Mods
	&_increased-px {
		@apply px-3.5;
	}

	&_full-rounded { @apply rounded-full;	}
	&_full-width { @apply w-full;	}

	&_color-dangerous {
		color: var(--color-error);

		.button__icon { color: var(--color-error);	}
		.button__ripple { background-color: var(--color-error-glassed); }

		&:hover,
		&:active { background-color: var(--color-error-glassed); }
		&:focus { border: 1px solid var(--color-error); }
	}
}

@keyframes scaleAndDisappear {
	to {
		transform: scale(2.5);
		opacity: 0;
	}
}