@import "@/app/styles/_mixins";

.page {
	@apply relative flex flex-col relative;
	border-right: 2px solid var(--color-app-background);
	border-bottom: 2px solid var(--color-app-background);
	flex: 1 1 auto;

	&__background {
		@include chat-background();
	}

	&__messages {
		@apply py-4;
	}

	&__form {
		@apply grid self-center pb-5 w-full;
	}

	&__messages,
	&__form {
		max-width: var(--width-chat-content);
	}

	&__header,
	&__messages,
	&__form {
		z-index: var(--z-active-chat-elements);
	}

	&_loading {
		@apply items-center justify-center;
	}
}

.dropzones {
	@apply absolute gap-5;

	--padding-y: 20px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	left: 50%;
	transform: translate(-50%);

	width: var(--width-chat-content);
	height: calc(100% - var(--min-height-chat-header) - (var(--padding-y) * 2));
	z-index: var(--z-floating-drop-zone);
	bottom: var(--padding-y);
}