.layout {
	@apply flex h-screen px-32;

	&__aside {
		@apply flex flex-col overflow-hidden relative left-0 top-0;
		flex: 0.25;
	}

	&__sidebar {
		@apply absolute left-0 top-0 w-full h-full;
	}

	&__main {
		@apply flex grow overflow-hidden;
		flex: 0.75;
		border-left: 1px solid var(--color-primary-600);
	}
}