.layout {
	@apply flex h-screen px-32 py-5;


	&__header {
		@apply flex items-center justify-between px-5 py-4;
		border-bottom: 1px solid var(--color-primary-600);
		background-color: var(--color-app-background);
		min-height: 5rem;
	}

	&__aside {
		@apply flex flex-col rounded-l-xl overflow-hidden relative;
		background-color: var(--color-app-background);
		flex: 0.25;

		.actions {
			@apply flex items-center justify-between absolute left-5 right-5 bottom-5;
			z-index: var(--z-chats-sidebar-actions-element);
		}
	}

	&__main {
		@apply flex grow rounded-r-xl overflow-hidden;
		flex: 0.7;
		border-left: 1px solid var(--color-primary-600);
	}
}