.action {
	@apply p-1.5 m-2 self-end transition-colors relative cursor-pointer;

	border-radius: 0.25rem;
	width: 2rem;
	height: 2rem;

	&__button {
		@apply h-full w-full outline-none cursor-pointer;
	}

	&:hover,
	&:focus {
		background-color: var(--color-primary-600) !important;
	}
}