.message-wrapper {
	@apply flex;

	.avatar {
		@apply self-end mr-2;
	}

	.message {
		@apply select-none p-2.5 rounded-2xl;
		background-color: var(--color-primary-800);

		&__author {
			@apply text-xs;
		}

		&__text {
			@apply select-text text-base;
		}

		&_own {
			background-color: var(--color-accent-1000);
			color: #FFF;
		}
	}
}
